<%= form_for(@stack_item) do |f| %>
  <% if @stack_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack_item.errors.count, "error") %> prohibited this stack_item from being saved:</h2>

      <ul>
      <% @stack_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
